<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="detail">
  <div class="div">
    <div class="navi">
      <div class="search-bar">
        <img class="line" src="img/line-2.svg" />
        <div class="search-con">
          <div class="overlap-group">
            <div class="ellipse"></div>
            <img class="img" src="img/line-1.svg" />
          </div>
        </div>
        <div class="text-wrapper">Search ↙</div>
      </div>
      <img class="img-2" src="img/image-2.png" />
      <img class="image" src="img/image.png" />
      <div class="ALL"><div class="text-wrapper-2">ALL</div></div>
      <div class="view"><div class="text-wrapper-2">건강식품</div></div>
      <div class="div-wrapper"><div class="text-wrapper-3">뷰티</div></div>
      <div class="div-wrapper-2"><div class="text-wrapper-3">출산/육아</div></div>
      <div class="div-wrapper-3"><div class="text-wrapper-4">헬스/다이어트</div></div>
      <img class="image-2" src="img/image.svg" />
    </div>
    <div class="view-2">
      <img class="free-icon-house" src="img/house-icon.png" />
      <p class="p">
        <span class="span">건강식품관&nbsp;&nbsp;</span>
        <span class="text-wrapper-5">&gt;</span>
        <span class="span">&nbsp;&nbsp;증상별&nbsp;&nbsp;</span>
        <span class="text-wrapper-6">&gt;</span>
        <span class="span">&nbsp;&nbsp;피부</span>
      </p>
    </div>
    <img class="line-2" src="img/line-5.svg" />
    <div class="text-wrapper-7">상품 정보</div>
    <div class="overlap-wrapper">
      <div class="overlap">
        <div class="rectangle"></div>
        <div class="rectangle-2"></div>
        <img class="line-3" src="img/line-6.svg" />
        <img class="line-4" src="img/line-7.svg" />
        <img class="line-5" src="img/line-8.svg" />
        <img class="line-6" src="img/line-9.svg" />
        <img class="line-7" src="img/line-10.svg" />
        <img class="line-8" src="img/line-11.svg" />
        <img class="line-9" src="img/line-12.svg" />
        <img class="line-10" src="img/line-13.svg" />
        <div class="text-wrapper-8">젤리쉘 씨 터틀, 198g</div>
        <div class="text-wrapper-9">Jellyshell Sea Turtles, 7oz</div>
        <div class="text-wrapper-10">7oz</div>
        <div class="text-wrapper-11">[CandyClub] 캔디클럽</div>
        <div class="text-wrapper-12">간식으로 섭취하세요</div>
        <div class="flexcontainer">
          <p class="text">
            <span class="text-wrapper-13">직사광선이 닿지않는 서늘하고 건조한 곳에 밀봉하여 보관하세요<br /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-13">어린이의 손이 닿지않는 곳에 보관하세요<br /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-13">사용하기 전, 전체 라벨을 읽고 지침에 따르시길 바랍니다.<br /></span>
          </p>
          <p class="text"><span class="text-wrapper-13">모든 제품은 미국 현지에서 직배송 됩니다.</span></p>
        </div>
        <div class="flexcontainer-2">
          <p class="span-wrapper">
            <span class="text-wrapper-14">캔디 클럽 젤리쉘 씨 터틀입니다.<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-14">딸기 젤리 서프라이즈로 가득찬 달콤한 바다거북모양 젤리입니다<br /></span>
          </p>
          <p class="span-wrapper">
                <span class="text-wrapper-14"
                >쫄깃쫄깃하고, 과즙이 많은 이 파충류 모양의 간식을 여러분은 완전히 좋아할 것 입니다.<br
                /></span>
          </p>
          <p class="span-wrapper">
                <span class="text-wrapper-14"
                >이 거북이 젤리는 맛있는 딸기 젤리 쉘을&nbsp;&nbsp;가지고 있습니다.<br
                /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-14">껍데기 밖으로 나와서 한 입 먹어보세요!<br /></span>
          </p>
          <p class="span-wrapper">
                <span class="text-wrapper-14"
                >유제품, 콩, 달걀, 땅콩, 견과류 (아몬드 , 피칸, 브라질 견과류) 및 밀 제품을 취급하는 시설에서
                  가공됩니다.<br
                  /></span>
          </p>
          <p class="span-wrapper"><span class="text-wrapper-14">스페인 제품입니다. </span></p>
        </div>
        <div class="flexcontainer-3">
          <p class="span-wrapper">
            <span class="text-wrapper-14">CANDY CLUB®<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-14">JELLYSHELLSEA TURTLES<br /></span>
          </p>
          <p class="span-wrapper">
                <span class="text-wrapper-14"
                >• Sweet gummy sea turtles filled with a strawberry jelly surprise!<br
                /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-14">NET WT. 7 OZ. (198 g)<br /></span>
          </p>
          <p class="span-wrapper">
                <span class="text-wrapper-14"
                >Jellyshell Sea TurtlesChewy, gummy, and bursting with fruity flavor, you&#39;ll turtle-y love these
                  sweet and juicy reptile-shaped treats. These turtle gummies have a tasty strawberry jelly shell. Come
                  out of your shell and take a bite!<br
                  /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-14">MADE IN SPAIN<br /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-14">Ingredients:<br /></span>
          </p>
          <p class="span-wrapper">
                <span class="text-wrapper-14"
                >• Corn Syrup, Sugar, Gelatine, Humectant: Sorbitols, Acids: Lactic Acid and Citric Acid, Modified
                  Corn Starch, Invert Sugar Syrup, Gelatin Agents: Pectins, Natural and Artificial Flavor, Corn Starch,
                  Acidity Regulator: Sodium Citrates, Glazing Agent: Beeswax, Carnauba Wax, Fruit and Vegetable Juice
                  for Color: Radish, Carrot, Blackcurrant, Vegetable Oil (Coconut Palm and Palm Kernel Oils), and
                  Artificial Color: Yellow 5, Yellow 6, Cochineal Extract, Red 40, Blue 1.• Allergy Information:
                  Processed in a facility that handles dairy, soy, egg, peanut, tree nut (almond, pecan, and Brazil
                  nut), and wheat products.</span
                >
          </p>
        </div>
        <div class="text-wrapper-15">한글 제품명</div>
        <div class="text-wrapper-16">영문 제품명</div>
        <div class="text-wrapper-17">용량/수량</div>
        <div class="text-wrapper-18">제조사</div>
        <div class="text-wrapper-19">섭취방법</div>
        <div class="text-wrapper-20">주의사항</div>
        <div class="text-wrapper-21">제품 설명</div>
        <div class="text-wrapper-22">제품 설명</div>
        <div class="text-wrapper-23">성분표(영문)</div>
        <img class="image-3" src="img/image-4.png" />
        <img class="image-4" src="img/image-5.png" />
      </div>
    </div>
    <div class="overlap-group-wrapper">
      <div class="overlap-2">
        <img class="summerTax" src="img/summerTax.png">
      </div>
    </div>
    <div class="view-3">
      <div class="overlap-4">
        <img class="image-5" src="img/image-3.png" />
        <div class="rectangle-4"></div>
        <div class="text-wrapper-32">[Candy Club] 캔디클럽</div>
        <div class="text-wrapper-33">젤리쉘 터틀 , 198g</div>
        <p class="text-wrapper-34">Jellyshell Sea Turtles, 7 oz</p>
        <p class="element-2">
          <span class="text-wrapper-30">권장소비자가격 </span> <span class="text-wrapper-35">$ 7.00 (₩ 9,261)</span>
        </p>
        <div class="flexcontainer-4">
          <p class="text-2">
            <span class="text-wrapper-36">정상판매가격</span> <span class="text-wrapper-37"> <br /></span>
          </p>
          <p class="text-2"><span class="text-wrapper-38">$ 5.40 (₩ 7,145)</span></p>
        </div>
        <p class="element-3">
          <span class="text-wrapper-30">최대</span>
          <span class="text-wrapper-39">&nbsp;</span>
          <span class="text-wrapper-40">31</span>
          <span class="text-wrapper-30"> 개 구매가능 </span>
        </p>
        <div class="rectangle-5"></div>
        <div class="text-wrapper-41">1</div>
        <img class="line-14" src="img/line-3.svg" />
        <img class="vector" src="img/vector.svg" />
        <div class="rectangle-6"></div>
        <div class="text-wrapper-42">장바구니</div>
        <div class="rectangle-7"></div>
        <div class="text-wrapper-43">바로구매</div>
        <div class="heart-default">
          <div class="overlap-group-3">
            <img class="free-icon-heart" src="img/free-icon-heart-5807348-2.png" />
            <div class="ellipse-2"></div>
          </div>
        </div>
        <img class="line-15" src="img/line-4.png" />
        <img class="free-icon-rating" src="img/free-icon-rating-stars-5569722-1.png" />
        <p class="element-4">
          <span class="text-wrapper-44">리뷰 수</span>
          <span class="text-wrapper-45">&nbsp;</span>
          <span class="text-wrapper-46">35</span>
        </p>
      </div>
    </div>
    <div class="view-4">
      <div class="overlap-5">
        <div class="overlap-group-4"><div class="text-wrapper-47">상품정보</div></div>
        <div class="text-wrapper-48">상품후기(35)</div>
        <div class="text-wrapper-49">상품문의</div>
        <div class="text-wrapper-50">배송정보</div>
        <div class="text-wrapper-51">교환/반품</div>
      </div>
    </div>
    <div class="view-5">
      <div class="overlap-6">
        <div class="saleBanner">
          <img class="memberSale" src="img/memberSale.png" />
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
